
.valle {
  border-bottom: 9px green solid;
  font-size: 30px;
  background-color: green;
}
.punta {
  border-bottom: 9px red solid;
  font-size: 30px;
  background-color: red;
}
.llana {
  border-bottom: 8px yellow solid;
  font-size: 30px;
  background-color: yellow;
}
