body {
  text-align: center;
}
.zone {
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}
.valle {
  background-color: #28b62c;
  border-color: #23a127;
  color: #155724;
}
.punta {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.llana {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
