body {
  text-align: center;
}
.valle {
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  background-color: green;
}
.punta {
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  background-color: red;
}
.llana {
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  background-color: yellow;
}
